**/*.log
**/*.jpg
**/*.png
**/*.mp4
**/*.avi
**/Files/*
**/tmp/
**/lib/
**/screenshots/
**/screenShots
**/videos/
**/node_modules/
**/test-results/
**/playwright-report/
**/jsonReports/
**/reports/
**/playwright/.cache/
**/env/
**/.env
**/auth/
allure-report/
allure-results/
storageState/
influxDb/config/
influxDb/data/
.DS_Store
.vscode
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
